*{
	box-sizing: border-box;
}	

body
{
    background-color: #34495E;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#h-style
{
	font-family: 'Zen Dots', cursive;
	font-size: 300%;
    font-weight: bold;
	color: #6666FF;
	text-align: center;
}
.body-style
{
	font-family: 'Zen Dots', cursive;
	font-size: 150%;
	font-weight: bold;
	color: #6666FF;
}

.outer_div
{
	margin-left: 85px;
	margin-bottom: 85px;
	width: 200px;
	height: 270px;
	background-color: #40868b;
	position: relative;
	float: left;
}

.outer_div:hover
{
    transform: scale(1.1);
	transition: transform 0.25s;
}

.inner_div
{
	width: 150px;
	height: 220px;
	background-color: white;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

.pictures
{
	max-width: 100%;
    height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    display: block;
}

.image__overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Zen Dots', cursive;
	font-size: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay:hover 
{
    opacity: 1;
}

.image__overlay > * 
{
    transform: translateY(40px);
    transition: transform 0.25s;
}

.image__overlay:hover > * 
{
    transform: translateY(0);
}

.logout_div
{
	position: absolute;
	cursor: pointer;
	right: 2%;
	top: 100px;
}

.logout_btn
{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: bold;
	background: #1E90FF;
	width: 160px;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	transition-property: box-shadow,transform;
}

.logout_btn:hover,.btn:focus,.btn:active
{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

















.navbar
{
	background-color: #142D55;
	height: 60px;
	text-align: right;
	font-family: 'Zen Dots', cursive;
	
}

.navbar a
{
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	padding: 10px 20px;
	cursor: pointer;
}

.dropdown_container
{
	top: 18px;
	padding: 20px 0px;
	display: inline;
	position: relative;
}

.dropdown_content
{
	position: absolute;
	margin-top: 20px;
	right: 0px;
	background-color: #142D55;
	font-family: 'Zen Dots', cursive;
	text-align: center;
	min-width: 100px;
	display: none;
}

.dropdown_container:hover
{
	background-color: #07366B;
}

.dropdown_container:hover .dropdown_content
{
	top: 39.5px;
	background-color: #07366B;
	z-index: 1;
	display: block;
}

.dropdown_content a
{
	display: block;
}

.dropdown_content a:hover
{
	color: #FF8E0F; 
	background-color: white;
}

.logo img
{
	position: absolute;
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-left: 10px;
}


.name
{
	display: inline;
	position: relative;
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	font-family: 'Zen Dots', cursive;
	position: absolute;
	margin-top: 20px;
	margin-left: 80px;
}

@media sceen and (max-width: 1200px;)
{
	.navbar
{
	height: 100vh;
	width: 100%;
	background: #142D55;
	/*padding: 230px;
	height: 60px;*/
	text-align: center;
	font-family: 'Zen Dots', cursive;
	
}

.navbar a
{
	/*height: 100vh;
	width: 100%;*/
	background: #142D55;
	display: flex;
	flex-direction: column;
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	cursor: pointer;
}

.dropdown_container
{
	display:none;
	display: inline;
	position: relative;
}

.logo img
{
	position: absolute;
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-left: 10px;
	z-index: 1;
}

.dropdown_content
{
	position: absolute;
	/*margin-top: 20px;*/
	right: 0px;
	background-color: #142D55;
	font-family: 'Zen Dots', cursive;
	text-align: center;
	min-width: 100px;
	display: none;
}

.dropdown_container:hover
{
	background-color: #07366B;
}

.dropdown_container:hover .dropdown_content
{
	/*top: 39.5px;*/
	background-color: #07366B;
	z-index: 1;
	display: block;
}

.dropdown_content a
{
	display: block;
}

.dropdown_content a:hover
{
	color: #FF8E0F; 
	background-color: white;
}
}





.admin_related
{
	font-family: 'Zen Dots', cursive;
	font-size: 100%;
    font-weight: bold;
	color: #6666FF;
	text-align: right;
}

.admin_related_link
{
	text-align: right;
	color: white;
}